body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}
/* Animated text */
.animated-text {
    animation: fadeIn 1s ease-in-out; /* add an animation */
    animation-fill-mode: both; /* keep the animation visible after it's finished */
    visibility: hidden; /* hide the text by default */
}

/* Keyframes for the animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


/* Profile picture */
img {
    max-width: 150px;
    height: auto;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; /* add a transition effect */
}

img:hover {
    transform: rotate(360deg); /* rotate the image when hovered */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    margin-bottom: 20px;
}
